<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,json,lcov,teamcity,opencover</Format>
          <Include>
            [ILGPU]*
            [ILGPU.Algorithms]*
          </Include>
          <Exclude>
            [*Tests*]*
            [*Generated*]*
            [*T4*]*
            [*Samples*]*
            [*Tools*]*
          </Exclude>
          <ExcludeByAttribute>GeneratedCodeAttribute,CompilerGeneratedAttribute,ExcludeFromCodeCoverageAttribute</ExcludeByAttribute>
          <ExcludeByFile>
            **/*.Generated.cs
            **/Resources/*.cs
            **/*.tt
            **/*.ttinclude
          </ExcludeByFile>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <DeterministicReport>true</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>